run = "npm run dev"
entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_11"
packages = ["cowsay"]

[agent]
expertMode = true

[[ports]]
localPort = 5670
externalPort = 3001

[[ports]]
localPort = 5678
externalPort = 80

[[ports]]
localPort = 5679
externalPort = 3000
exposeLocalhost = true
